*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    position: relative;
    width: 100%;
    height: 100vh;
}

.scarpa{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


span{
    position: absolute;
    color: yellow;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    font-size: 47px;
    font-weight: 1000;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.scritta{
    position: absolute;
    color: green;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    font-size: 47px;
    font-weight: 1000;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}


#rosso{
    background-color: red;
}

#verde{
    background-color: green;
}

#giallo{
    background-color: yellow;
}
.menu{
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
  
.menu ul {
    list-style: none;
    background-color: red;

}
  
.menu ul li {
    display: inline-block;
    font-size: 25px;
    text-align: center;
    color: black;
    border-radius: 100%;
    background-color: white;
}
  
.menu ul li a{
    text-decoration: none;
    padding: 0 20px;
}